#vt p.vtx {
font-size:15px;
line-height:15px;
font-family:monospace;
white-space:nowrap;
}

#vt a.vtx:link,a.vtx:visited,a.vtx:hover,a.vtx:active {
text-decoration:none;
}

#vt a.vtx:link,a.vtx:visited {
color:#0F0;
}

#vt a.vtx:hover,a.vtx:active {
color:#FF0;
}

.vtgfx {
width:11px;
height:16px;
background-image:url(../images/vtxgfx.gif);
background-repeat:no-repeat;
}

.vtx-mark{
  color:black;
  background-color:lime
}

.white20	{	background-position:	0px	0px	;}
.white21	{	background-position:	0px	-16px	;}
.white22	{	background-position:	0px	-32px	;}
.white23	{	background-position:	0px	-48px	;}
.white24	{	background-position:	0px	-64px	;}
.white25	{	background-position:	0px	-80px	;}
.white26	{	background-position:	0px	-96px	;}
.white27	{	background-position:	0px	-112px	;}
.white28	{	background-position:	0px	-128px	;}
.white29	{	background-position:	0px	-144px	;}
.white2A	{	background-position:	0px	-160px	;}
.white2B	{	background-position:	0px	-176px	;}
.white2C	{	background-position:	0px	-192px	;}
.white2D	{	background-position:	0px	-208px	;}
.white2E	{	background-position:	0px	-224px	;}
.white2F	{	background-position:	0px	-240px	;}
.white30	{	background-position:	0px	-256px	;}
.white31	{	background-position:	0px	-272px	;}
.white32	{	background-position:	0px	-288px	;}
.white33	{	background-position:	0px	-304px	;}
.white34	{	background-position:	0px	-320px	;}
.white35	{	background-position:	0px	-336px	;}
.white36	{	background-position:	0px	-352px	;}
.white37	{	background-position:	0px	-368px	;}
.white38	{	background-position:	0px	-384px	;}
.white39	{	background-position:	0px	-400px	;}
.white3A	{	background-position:	0px	-416px	;}
.white3B	{	background-position:	0px	-432px	;}
.white3C	{	background-position:	0px	-448px	;}
.white3D	{	background-position:	0px	-464px	;}
.white3E	{	background-position:	0px	-480px	;}
.white3F	{	background-position:	0px	-496px	;}
.white60	{	background-position:	0px	-512px	;}
.white61	{	background-position:	0px	-528px	;}
.white62	{	background-position:	0px	-544px	;}
.white63	{	background-position:	0px	-560px	;}
.white64	{	background-position:	0px	-576px	;}
.white65	{	background-position:	0px	-592px	;}
.white66	{	background-position:	0px	-608px	;}
.white67	{	background-position:	0px	-624px	;}
.white68	{	background-position:	0px	-640px	;}
.white69	{	background-position:	0px	-656px	;}
.white6A	{	background-position:	0px	-672px	;}
.white6B	{	background-position:	0px	-688px	;}
.white6C	{	background-position:	0px	-704px	;}
.white6D	{	background-position:	0px	-720px	;}
.white6E	{	background-position:	0px	-736px	;}
.white6F	{	background-position:	0px	-752px	;}
.white70	{	background-position:	0px	-768px	;}
.white71	{	background-position:	0px	-784px	;}
.white72	{	background-position:	0px	-800px	;}
.white73	{	background-position:	0px	-816px	;}
.white74	{	background-position:	0px	-832px	;}
.white75	{	background-position:	0px	-848px	;}
.white76	{	background-position:	0px	-864px	;}
.white77	{	background-position:	0px	-880px	;}
.white78	{	background-position:	0px	-896px	;}
.white79	{	background-position:	0px	-912px	;}
.white7A	{	background-position:	0px	-928px	;}
.white7B	{	background-position:	0px	-944px	;}
.white7C	{	background-position:	0px	-960px	;}
.white7D	{	background-position:	0px	-976px	;}
.white7E	{	background-position:	0px	-992px	;}
.white7F	{	background-position:	0px	-1008px	;}
					
.black20	{	background-position:	-11px	0px	;}
.black21	{	background-position:	-11px	-16px	;}
.black22	{	background-position:	-11px	-32px	;}
.black23	{	background-position:	-11px	-48px	;}
.black24	{	background-position:	-11px	-64px	;}
.black25	{	background-position:	-11px	-80px	;}
.black26	{	background-position:	-11px	-96px	;}
.black27	{	background-position:	-11px	-112px	;}
.black28	{	background-position:	-11px	-128px	;}
.black29	{	background-position:	-11px	-144px	;}
.black2A	{	background-position:	-11px	-160px	;}
.black2B	{	background-position:	-11px	-176px	;}
.black2C	{	background-position:	-11px	-192px	;}
.black2D	{	background-position:	-11px	-208px	;}
.black2E	{	background-position:	-11px	-224px	;}
.black2F	{	background-position:	-11px	-240px	;}
.black30	{	background-position:	-11px	-256px	;}
.black31	{	background-position:	-11px	-272px	;}
.black32	{	background-position:	-11px	-288px	;}
.black33	{	background-position:	-11px	-304px	;}
.black34	{	background-position:	-11px	-320px	;}
.black35	{	background-position:	-11px	-336px	;}
.black36	{	background-position:	-11px	-352px	;}
.black37	{	background-position:	-11px	-368px	;}
.black38	{	background-position:	-11px	-384px	;}
.black39	{	background-position:	-11px	-400px	;}
.black3A	{	background-position:	-11px	-416px	;}
.black3B	{	background-position:	-11px	-432px	;}
.black3C	{	background-position:	-11px	-448px	;}
.black3D	{	background-position:	-11px	-464px	;}
.black3E	{	background-position:	-11px	-480px	;}
.black3F	{	background-position:	-11px	-496px	;}
.black60	{	background-position:	-11px	-512px	;}
.black61	{	background-position:	-11px	-528px	;}
.black62	{	background-position:	-11px	-544px	;}
.black63	{	background-position:	-11px	-560px	;}
.black64	{	background-position:	-11px	-576px	;}
.black65	{	background-position:	-11px	-592px	;}
.black66	{	background-position:	-11px	-608px	;}
.black67	{	background-position:	-11px	-624px	;}
.black68	{	background-position:	-11px	-640px	;}
.black69	{	background-position:	-11px	-656px	;}
.black6A	{	background-position:	-11px	-672px	;}
.black6B	{	background-position:	-11px	-688px	;}
.black6C	{	background-position:	-11px	-704px	;}
.black6D	{	background-position:	-11px	-720px	;}
.black6E	{	background-position:	-11px	-736px	;}
.black6F	{	background-position:	-11px	-752px	;}
.black70	{	background-position:	-11px	-768px	;}
.black71	{	background-position:	-11px	-784px	;}
.black72	{	background-position:	-11px	-800px	;}
.black73	{	background-position:	-11px	-816px	;}
.black74	{	background-position:	-11px	-832px	;}
.black75	{	background-position:	-11px	-848px	;}
.black76	{	background-position:	-11px	-864px	;}
.black77	{	background-position:	-11px	-880px	;}
.black78	{	background-position:	-11px	-896px	;}
.black79	{	background-position:	-11px	-912px	;}
.black7A	{	background-position:	-11px	-928px	;}
.black7B	{	background-position:	-11px	-944px	;}
.black7C	{	background-position:	-11px	-960px	;}
.black7D	{	background-position:	-11px	-976px	;}
.black7E	{	background-position:	-11px	-992px	;}
.black7F	{	background-position:	-11px	-1008px	;}
					
.red20	{	background-position:	-22px	0px	;}
.red21	{	background-position:	-22px	-16px	;}
.red22	{	background-position:	-22px	-32px	;}
.red23	{	background-position:	-22px	-48px	;}
.red24	{	background-position:	-22px	-64px	;}
.red25	{	background-position:	-22px	-80px	;}
.red26	{	background-position:	-22px	-96px	;}
.red27	{	background-position:	-22px	-112px	;}
.red28	{	background-position:	-22px	-128px	;}
.red29	{	background-position:	-22px	-144px	;}
.red2A	{	background-position:	-22px	-160px	;}
.red2B	{	background-position:	-22px	-176px	;}
.red2C	{	background-position:	-22px	-192px	;}
.red2D	{	background-position:	-22px	-208px	;}
.red2E	{	background-position:	-22px	-224px	;}
.red2F	{	background-position:	-22px	-240px	;}
.red30	{	background-position:	-22px	-256px	;}
.red31	{	background-position:	-22px	-272px	;}
.red32	{	background-position:	-22px	-288px	;}
.red33	{	background-position:	-22px	-304px	;}
.red34	{	background-position:	-22px	-320px	;}
.red35	{	background-position:	-22px	-336px	;}
.red36	{	background-position:	-22px	-352px	;}
.red37	{	background-position:	-22px	-368px	;}
.red38	{	background-position:	-22px	-384px	;}
.red39	{	background-position:	-22px	-400px	;}
.red3A	{	background-position:	-22px	-416px	;}
.red3B	{	background-position:	-22px	-432px	;}
.red3C	{	background-position:	-22px	-448px	;}
.red3D	{	background-position:	-22px	-464px	;}
.red3E	{	background-position:	-22px	-480px	;}
.red3F	{	background-position:	-22px	-496px	;}
.red60	{	background-position:	-22px	-512px	;}
.red61	{	background-position:	-22px	-528px	;}
.red62	{	background-position:	-22px	-544px	;}
.red63	{	background-position:	-22px	-560px	;}
.red64	{	background-position:	-22px	-576px	;}
.red65	{	background-position:	-22px	-592px	;}
.red66	{	background-position:	-22px	-608px	;}
.red67	{	background-position:	-22px	-624px	;}
.red68	{	background-position:	-22px	-640px	;}
.red69	{	background-position:	-22px	-656px	;}
.red6A	{	background-position:	-22px	-672px	;}
.red6B	{	background-position:	-22px	-688px	;}
.red6C	{	background-position:	-22px	-704px	;}
.red6D	{	background-position:	-22px	-720px	;}
.red6E	{	background-position:	-22px	-736px	;}
.red6F	{	background-position:	-22px	-752px	;}
.red70	{	background-position:	-22px	-768px	;}
.red71	{	background-position:	-22px	-784px	;}
.red72	{	background-position:	-22px	-800px	;}
.red73	{	background-position:	-22px	-816px	;}
.red74	{	background-position:	-22px	-832px	;}
.red75	{	background-position:	-22px	-848px	;}
.red76	{	background-position:	-22px	-864px	;}
.red77	{	background-position:	-22px	-880px	;}
.red78	{	background-position:	-22px	-896px	;}
.red79	{	background-position:	-22px	-912px	;}
.red7A	{	background-position:	-22px	-928px	;}
.red7B	{	background-position:	-22px	-944px	;}
.red7C	{	background-position:	-22px	-960px	;}
.red7D	{	background-position:	-22px	-976px	;}
.red7E	{	background-position:	-22px	-992px	;}
.red7F	{	background-position:	-22px	-1008px	;}
					
.blue20	{	background-position:	-33px	0px	;}
.blue21	{	background-position:	-33px	-16px	;}
.blue22	{	background-position:	-33px	-32px	;}
.blue23	{	background-position:	-33px	-48px	;}
.blue24	{	background-position:	-33px	-64px	;}
.blue25	{	background-position:	-33px	-80px	;}
.blue26	{	background-position:	-33px	-96px	;}
.blue27	{	background-position:	-33px	-112px	;}
.blue28	{	background-position:	-33px	-128px	;}
.blue29	{	background-position:	-33px	-144px	;}
.blue2A	{	background-position:	-33px	-160px	;}
.blue2B	{	background-position:	-33px	-176px	;}
.blue2C	{	background-position:	-33px	-192px	;}
.blue2D	{	background-position:	-33px	-208px	;}
.blue2E	{	background-position:	-33px	-224px	;}
.blue2F	{	background-position:	-33px	-240px	;}
.blue30	{	background-position:	-33px	-256px	;}
.blue31	{	background-position:	-33px	-272px	;}
.blue32	{	background-position:	-33px	-288px	;}
.blue33	{	background-position:	-33px	-304px	;}
.blue34	{	background-position:	-33px	-320px	;}
.blue35	{	background-position:	-33px	-336px	;}
.blue36	{	background-position:	-33px	-352px	;}
.blue37	{	background-position:	-33px	-368px	;}
.blue38	{	background-position:	-33px	-384px	;}
.blue39	{	background-position:	-33px	-400px	;}
.blue3A	{	background-position:	-33px	-416px	;}
.blue3B	{	background-position:	-33px	-432px	;}
.blue3C	{	background-position:	-33px	-448px	;}
.blue3D	{	background-position:	-33px	-464px	;}
.blue3E	{	background-position:	-33px	-480px	;}
.blue3F	{	background-position:	-33px	-496px	;}
.blue60	{	background-position:	-33px	-512px	;}
.blue61	{	background-position:	-33px	-528px	;}
.blue62	{	background-position:	-33px	-544px	;}
.blue63	{	background-position:	-33px	-560px	;}
.blue64	{	background-position:	-33px	-576px	;}
.blue65	{	background-position:	-33px	-592px	;}
.blue66	{	background-position:	-33px	-608px	;}
.blue67	{	background-position:	-33px	-624px	;}
.blue68	{	background-position:	-33px	-640px	;}
.blue69	{	background-position:	-33px	-656px	;}
.blue6A	{	background-position:	-33px	-672px	;}
.blue6B	{	background-position:	-33px	-688px	;}
.blue6C	{	background-position:	-33px	-704px	;}
.blue6D	{	background-position:	-33px	-720px	;}
.blue6E	{	background-position:	-33px	-736px	;}
.blue6F	{	background-position:	-33px	-752px	;}
.blue70	{	background-position:	-33px	-768px	;}
.blue71	{	background-position:	-33px	-784px	;}
.blue72	{	background-position:	-33px	-800px	;}
.blue73	{	background-position:	-33px	-816px	;}
.blue74	{	background-position:	-33px	-832px	;}
.blue75	{	background-position:	-33px	-848px	;}
.blue76	{	background-position:	-33px	-864px	;}
.blue77	{	background-position:	-33px	-880px	;}
.blue78	{	background-position:	-33px	-896px	;}
.blue79	{	background-position:	-33px	-912px	;}
.blue7A	{	background-position:	-33px	-928px	;}
.blue7B	{	background-position:	-33px	-944px	;}
.blue7C	{	background-position:	-33px	-960px	;}
.blue7D	{	background-position:	-33px	-976px	;}
.blue7E	{	background-position:	-33px	-992px	;}
.blue7F	{	background-position:	-33px	-1008px	;}
					
.yellow20	{	background-position:	-44px	0px	;}
.yellow21	{	background-position:	-44px	-16px	;}
.yellow22	{	background-position:	-44px	-32px	;}
.yellow23	{	background-position:	-44px	-48px	;}
.yellow24	{	background-position:	-44px	-64px	;}
.yellow25	{	background-position:	-44px	-80px	;}
.yellow26	{	background-position:	-44px	-96px	;}
.yellow27	{	background-position:	-44px	-112px	;}
.yellow28	{	background-position:	-44px	-128px	;}
.yellow29	{	background-position:	-44px	-144px	;}
.yellow2A	{	background-position:	-44px	-160px	;}
.yellow2B	{	background-position:	-44px	-176px	;}
.yellow2C	{	background-position:	-44px	-192px	;}
.yellow2D	{	background-position:	-44px	-208px	;}
.yellow2E	{	background-position:	-44px	-224px	;}
.yellow2F	{	background-position:	-44px	-240px	;}
.yellow30	{	background-position:	-44px	-256px	;}
.yellow31	{	background-position:	-44px	-272px	;}
.yellow32	{	background-position:	-44px	-288px	;}
.yellow33	{	background-position:	-44px	-304px	;}
.yellow34	{	background-position:	-44px	-320px	;}
.yellow35	{	background-position:	-44px	-336px	;}
.yellow36	{	background-position:	-44px	-352px	;}
.yellow37	{	background-position:	-44px	-368px	;}
.yellow38	{	background-position:	-44px	-384px	;}
.yellow39	{	background-position:	-44px	-400px	;}
.yellow3A	{	background-position:	-44px	-416px	;}
.yellow3B	{	background-position:	-44px	-432px	;}
.yellow3C	{	background-position:	-44px	-448px	;}
.yellow3D	{	background-position:	-44px	-464px	;}
.yellow3E	{	background-position:	-44px	-480px	;}
.yellow3F	{	background-position:	-44px	-496px	;}
.yellow60	{	background-position:	-44px	-512px	;}
.yellow61	{	background-position:	-44px	-528px	;}
.yellow62	{	background-position:	-44px	-544px	;}
.yellow63	{	background-position:	-44px	-560px	;}
.yellow64	{	background-position:	-44px	-576px	;}
.yellow65	{	background-position:	-44px	-592px	;}
.yellow66	{	background-position:	-44px	-608px	;}
.yellow67	{	background-position:	-44px	-624px	;}
.yellow68	{	background-position:	-44px	-640px	;}
.yellow69	{	background-position:	-44px	-656px	;}
.yellow6A	{	background-position:	-44px	-672px	;}
.yellow6B	{	background-position:	-44px	-688px	;}
.yellow6C	{	background-position:	-44px	-704px	;}
.yellow6D	{	background-position:	-44px	-720px	;}
.yellow6E	{	background-position:	-44px	-736px	;}
.yellow6F	{	background-position:	-44px	-752px	;}
.yellow70	{	background-position:	-44px	-768px	;}
.yellow71	{	background-position:	-44px	-784px	;}
.yellow72	{	background-position:	-44px	-800px	;}
.yellow73	{	background-position:	-44px	-816px	;}
.yellow74	{	background-position:	-44px	-832px	;}
.yellow75	{	background-position:	-44px	-848px	;}
.yellow76	{	background-position:	-44px	-864px	;}
.yellow77	{	background-position:	-44px	-880px	;}
.yellow78	{	background-position:	-44px	-896px	;}
.yellow79	{	background-position:	-44px	-912px	;}
.yellow7A	{	background-position:	-44px	-928px	;}
.yellow7B	{	background-position:	-44px	-944px	;}
.yellow7C	{	background-position:	-44px	-960px	;}
.yellow7D	{	background-position:	-44px	-976px	;}
.yellow7E	{	background-position:	-44px	-992px	;}
.yellow7F	{	background-position:	-44px	-1008px	;}
					
.green20	{	background-position:	-55px	0px	;}
.green21	{	background-position:	-55px	-16px	;}
.green22	{	background-position:	-55px	-32px	;}
.green23	{	background-position:	-55px	-48px	;}
.green24	{	background-position:	-55px	-64px	;}
.green25	{	background-position:	-55px	-80px	;}
.green26	{	background-position:	-55px	-96px	;}
.green27	{	background-position:	-55px	-112px	;}
.green28	{	background-position:	-55px	-128px	;}
.green29	{	background-position:	-55px	-144px	;}
.green2A	{	background-position:	-55px	-160px	;}
.green2B	{	background-position:	-55px	-176px	;}
.green2C	{	background-position:	-55px	-192px	;}
.green2D	{	background-position:	-55px	-208px	;}
.green2E	{	background-position:	-55px	-224px	;}
.green2F	{	background-position:	-55px	-240px	;}
.green30	{	background-position:	-55px	-256px	;}
.green31	{	background-position:	-55px	-272px	;}
.green32	{	background-position:	-55px	-288px	;}
.green33	{	background-position:	-55px	-304px	;}
.green34	{	background-position:	-55px	-320px	;}
.green35	{	background-position:	-55px	-336px	;}
.green36	{	background-position:	-55px	-352px	;}
.green37	{	background-position:	-55px	-368px	;}
.green38	{	background-position:	-55px	-384px	;}
.green39	{	background-position:	-55px	-400px	;}
.green3A	{	background-position:	-55px	-416px	;}
.green3B	{	background-position:	-55px	-432px	;}
.green3C	{	background-position:	-55px	-448px	;}
.green3D	{	background-position:	-55px	-464px	;}
.green3E	{	background-position:	-55px	-480px	;}
.green3F	{	background-position:	-55px	-496px	;}
.green60	{	background-position:	-55px	-512px	;}
.green61	{	background-position:	-55px	-528px	;}
.green62	{	background-position:	-55px	-544px	;}
.green63	{	background-position:	-55px	-560px	;}
.green64	{	background-position:	-55px	-576px	;}
.green65	{	background-position:	-55px	-592px	;}
.green66	{	background-position:	-55px	-608px	;}
.green67	{	background-position:	-55px	-624px	;}
.green68	{	background-position:	-55px	-640px	;}
.green69	{	background-position:	-55px	-656px	;}
.green6A	{	background-position:	-55px	-672px	;}
.green6B	{	background-position:	-55px	-688px	;}
.green6C	{	background-position:	-55px	-704px	;}
.green6D	{	background-position:	-55px	-720px	;}
.green6E	{	background-position:	-55px	-736px	;}
.green6F	{	background-position:	-55px	-752px	;}
.green70	{	background-position:	-55px	-768px	;}
.green71	{	background-position:	-55px	-784px	;}
.green72	{	background-position:	-55px	-800px	;}
.green73	{	background-position:	-55px	-816px	;}
.green74	{	background-position:	-55px	-832px	;}
.green75	{	background-position:	-55px	-848px	;}
.green76	{	background-position:	-55px	-864px	;}
.green77	{	background-position:	-55px	-880px	;}
.green78	{	background-position:	-55px	-896px	;}
.green79	{	background-position:	-55px	-912px	;}
.green7A	{	background-position:	-55px	-928px	;}
.green7B	{	background-position:	-55px	-944px	;}
.green7C	{	background-position:	-55px	-960px	;}
.green7D	{	background-position:	-55px	-976px	;}
.green7E	{	background-position:	-55px	-992px	;}
.green7F	{	background-position:	-55px	-1008px	;}
					
.cyan20	{	background-position:	-66px	0px	;}
.cyan21	{	background-position:	-66px	-16px	;}
.cyan22	{	background-position:	-66px	-32px	;}
.cyan23	{	background-position:	-66px	-48px	;}
.cyan24	{	background-position:	-66px	-64px	;}
.cyan25	{	background-position:	-66px	-80px	;}
.cyan26	{	background-position:	-66px	-96px	;}
.cyan27	{	background-position:	-66px	-112px	;}
.cyan28	{	background-position:	-66px	-128px	;}
.cyan29	{	background-position:	-66px	-144px	;}
.cyan2A	{	background-position:	-66px	-160px	;}
.cyan2B	{	background-position:	-66px	-176px	;}
.cyan2C	{	background-position:	-66px	-192px	;}
.cyan2D	{	background-position:	-66px	-208px	;}
.cyan2E	{	background-position:	-66px	-224px	;}
.cyan2F	{	background-position:	-66px	-240px	;}
.cyan30	{	background-position:	-66px	-256px	;}
.cyan31	{	background-position:	-66px	-272px	;}
.cyan32	{	background-position:	-66px	-288px	;}
.cyan33	{	background-position:	-66px	-304px	;}
.cyan34	{	background-position:	-66px	-320px	;}
.cyan35	{	background-position:	-66px	-336px	;}
.cyan36	{	background-position:	-66px	-352px	;}
.cyan37	{	background-position:	-66px	-368px	;}
.cyan38	{	background-position:	-66px	-384px	;}
.cyan39	{	background-position:	-66px	-400px	;}
.cyan3A	{	background-position:	-66px	-416px	;}
.cyan3B	{	background-position:	-66px	-432px	;}
.cyan3C	{	background-position:	-66px	-448px	;}
.cyan3D	{	background-position:	-66px	-464px	;}
.cyan3E	{	background-position:	-66px	-480px	;}
.cyan3F	{	background-position:	-66px	-496px	;}
.cyan60	{	background-position:	-66px	-512px	;}
.cyan61	{	background-position:	-66px	-528px	;}
.cyan62	{	background-position:	-66px	-544px	;}
.cyan63	{	background-position:	-66px	-560px	;}
.cyan64	{	background-position:	-66px	-576px	;}
.cyan65	{	background-position:	-66px	-592px	;}
.cyan66	{	background-position:	-66px	-608px	;}
.cyan67	{	background-position:	-66px	-624px	;}
.cyan68	{	background-position:	-66px	-640px	;}
.cyan69	{	background-position:	-66px	-656px	;}
.cyan6A	{	background-position:	-66px	-672px	;}
.cyan6B	{	background-position:	-66px	-688px	;}
.cyan6C	{	background-position:	-66px	-704px	;}
.cyan6D	{	background-position:	-66px	-720px	;}
.cyan6E	{	background-position:	-66px	-736px	;}
.cyan6F	{	background-position:	-66px	-752px	;}
.cyan70	{	background-position:	-66px	-768px	;}
.cyan71	{	background-position:	-66px	-784px	;}
.cyan72	{	background-position:	-66px	-800px	;}
.cyan73	{	background-position:	-66px	-816px	;}
.cyan74	{	background-position:	-66px	-832px	;}
.cyan75	{	background-position:	-66px	-848px	;}
.cyan76	{	background-position:	-66px	-864px	;}
.cyan77	{	background-position:	-66px	-880px	;}
.cyan78	{	background-position:	-66px	-896px	;}
.cyan79	{	background-position:	-66px	-912px	;}
.cyan7A	{	background-position:	-66px	-928px	;}
.cyan7B	{	background-position:	-66px	-944px	;}
.cyan7C	{	background-position:	-66px	-960px	;}
.cyan7D	{	background-position:	-66px	-976px	;}
.cyan7E	{	background-position:	-66px	-992px	;}
.cyan7F	{	background-position:	-66px	-1008px	;}
					
.magenta20	{	background-position:	-77px	0px	;}
.magenta21	{	background-position:	-77px	-16px	;}
.magenta22	{	background-position:	-77px	-32px	;}
.magenta23	{	background-position:	-77px	-48px	;}
.magenta24	{	background-position:	-77px	-64px	;}
.magenta25	{	background-position:	-77px	-80px	;}
.magenta26	{	background-position:	-77px	-96px	;}
.magenta27	{	background-position:	-77px	-112px	;}
.magenta28	{	background-position:	-77px	-128px	;}
.magenta29	{	background-position:	-77px	-144px	;}
.magenta2A	{	background-position:	-77px	-160px	;}
.magenta2B	{	background-position:	-77px	-176px	;}
.magenta2C	{	background-position:	-77px	-192px	;}
.magenta2D	{	background-position:	-77px	-208px	;}
.magenta2E	{	background-position:	-77px	-224px	;}
.magenta2F	{	background-position:	-77px	-240px	;}
.magenta30	{	background-position:	-77px	-256px	;}
.magenta31	{	background-position:	-77px	-272px	;}
.magenta32	{	background-position:	-77px	-288px	;}
.magenta33	{	background-position:	-77px	-304px	;}
.magenta34	{	background-position:	-77px	-320px	;}
.magenta35	{	background-position:	-77px	-336px	;}
.magenta36	{	background-position:	-77px	-352px	;}
.magenta37	{	background-position:	-77px	-368px	;}
.magenta38	{	background-position:	-77px	-384px	;}
.magenta39	{	background-position:	-77px	-400px	;}
.magenta3A	{	background-position:	-77px	-416px	;}
.magenta3B	{	background-position:	-77px	-432px	;}
.magenta3C	{	background-position:	-77px	-448px	;}
.magenta3D	{	background-position:	-77px	-464px	;}
.magenta3E	{	background-position:	-77px	-480px	;}
.magenta3F	{	background-position:	-77px	-496px	;}
.magenta60	{	background-position:	-77px	-512px	;}
.magenta61	{	background-position:	-77px	-528px	;}
.magenta62	{	background-position:	-77px	-544px	;}
.magenta63	{	background-position:	-77px	-560px	;}
.magenta64	{	background-position:	-77px	-576px	;}
.magenta65	{	background-position:	-77px	-592px	;}
.magenta66	{	background-position:	-77px	-608px	;}
.magenta67	{	background-position:	-77px	-624px	;}
.magenta68	{	background-position:	-77px	-640px	;}
.magenta69	{	background-position:	-77px	-656px	;}
.magenta6A	{	background-position:	-77px	-672px	;}
.magenta6B	{	background-position:	-77px	-688px	;}
.magenta6C	{	background-position:	-77px	-704px	;}
.magenta6D	{	background-position:	-77px	-720px	;}
.magenta6E	{	background-position:	-77px	-736px	;}
.magenta6F	{	background-position:	-77px	-752px	;}
.magenta70	{	background-position:	-77px	-768px	;}
.magenta71	{	background-position:	-77px	-784px	;}
.magenta72	{	background-position:	-77px	-800px	;}
.magenta73	{	background-position:	-77px	-816px	;}
.magenta74	{	background-position:	-77px	-832px	;}
.magenta75	{	background-position:	-77px	-848px	;}
.magenta76	{	background-position:	-77px	-864px	;}
.magenta77	{	background-position:	-77px	-880px	;}
.magenta78	{	background-position:	-77px	-896px	;}
.magenta79	{	background-position:	-77px	-912px	;}
.magenta7A	{	background-position:	-77px	-928px	;}
.magenta7B	{	background-position:	-77px	-944px	;}
.magenta7C	{	background-position:	-77px	-960px	;}
.magenta7D	{	background-position:	-77px	-976px	;}
.magenta7E	{	background-position:	-77px	-992px	;}
.magenta7F	{	background-position:	-77px	-1008px	;}
					



