LIRC.Up         up
LIRC.Down       down
LIRC.Left       left
LIRC.Right      right
LIRC.Menu       menu
LIRC.Ok         ok
LIRC.Back       exit
KBD.Up         00000000001B5B41
KBD.Down       00000000001B5B42
KBD.Menu       000000000000006D
KBD.Ok         000000000000000D
KBD.Back       0000000000000062
KBD.Left       00000000001B5B44
KBD.Right      00000000001B5B43
XKeySym.Up         Up
XKeySym.Down       Down
XKeySym.Left       Left
XKeySym.Right      Right
XKeySym.Menu       F1
XKeySym.Ok         Return
XKeySym.Back       BackSpace
XKeySym.Red        F2
XKeySym.Green      F3
XKeySym.Yellow     F4
XKeySym.Blue       F5
XKeySym.0          0
XKeySym.1          1
XKeySym.2          2
XKeySym.3          3
XKeySym.4          4
XKeySym.5          5
XKeySym.6          6
XKeySym.7          7
XKeySym.8          8
XKeySym.9          9
XKeySym.Play       p
XKeySym.Pause      space
XKeySym.Stop       s
XKeySym.FastFwd    f
XKeySym.FastRew    b
XKeySym.Channel+   Prior
XKeySym.Channel-   Next
XKeySym.Volume+    KP_Add
XKeySym.Volume-    KP_Subtract
XKeySym.Mute       m
XKeySym.Info       I
XKeySym.Audio      A
XKeySym.Audio      Alt+A
XKeySym.Audio      Alt+a
XKeySym.Subtitles  S
XKeySym.Schedule   F6
XKeySym.Channels   F7
XKeySym.Timers     F8
XKeySym.Recordings F9
XKeySym.Setup      F10
XKeySym.Commands   F11
XKeySym.User1      q
XKeySym.User2      w
XKeySym.User3      e
XKeySym.User4      r
XKeySym.User5      t
XKeySym.User6      y
XKeySym.User7      u
XKeySym.User8      i
XKeySym.User9      o
