body.frame {
margin:0;
padding:0;
}

.push,#logo,#logo a img,#header,#headerNav,#headerNav a,#headerNav a:active,#headerNav a:link,#headerNav a:visited,#headerNav a:hover,#sidebar,#sidefooter,#sidebar input,#sidebar select,#shutter {
display:none;
}
